%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

@font-face {
	font-family: "icons";
	src: url("fonts/icons.ttf?z65hns") format("truetype"), url("fonts/icons.woff?z65hns") format("woff"),
		url("fonts/icons.svg?z65hns#icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-link:before {
	content: "\e900";
}
._icon-s-github:before {
	content: "\e901";
}
._icon-s-instagram:before {
	content: "\e902";
}
._icon-slider-arrow-l:before {
	content: "\e903";
}
._icon-slider-arrow-r:before {
	content: "\e904";
}
._icon-s-linkedin:before {
	content: "\e905";
}
._icon-s-twitter:before {
	content: "\e906";
}
