// Заголовки, общие БЄМ блоки и проче...
.title {
	// .title__label
	&__label {
		text-transform: uppercase;
		font-weight: 500;
		font-size: rem(12);
		line-height: 2;
		letter-spacing: em(7.5, 12);
		color: $greyColor;
		display: flex;
		align-items: center;
		gap: rem(16);
		&::before {
			content: "";
			width: rem(16);
			height: rem(2);
			background-color: #d9d9d9;
		}
		&:not(:last-child) {
			margin-bottom: em(9, 12);
		}
	}
	// .title__value
	&__value {
		font-family: "Plus Jakarta Sans";
		font-weight: 700;
		font-size: rem(36);
		line-height: 1.25;
	}
}
//========================================================================================================================================================
