// Заголовки, общие БЄМ блоки и проче...
.page {
	// .page__main
	&__main {
	}
	// .page__services
	&__services {
	}
	// .page__portfolio
	&__portfolio {
	}
}

//========================================================================================================================================================
.title {
	// .title__label
	&__label {
		//text-transform: uppercase;
		font-weight: 500;
		font-size: rem(12);
		line-height: 2;
		letter-spacing: em(7.5, 12);
		color: $greyColor;
		display: flex;
		align-items: center;
		gap: rem(16);
		&::before {
			content: "";
			width: rem(16);
			height: rem(2);
			background-color: #d9d9d9;
		}
		&:not(:last-child) {
			margin-bottom: em(9, 12);
		}
	}
	// .title__value
	&__value {
		font-family: "Plus Jakarta Sans";
		font-weight: 700;
		line-height: 1.25;
		@include adaptiveValue("font-size", 36, 28);
		span {
			color: $purpleColor;
		}
		// .title__value_big
		&_big {
			line-height: math.div(55, 44);
			@include adaptiveValue("font-size",44, 36);
		}
	}
}

//========================================================================================================================================================
.text {
	line-height: math.div(32, 16);
	p {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
}

//========================================================================================================================================================
.social {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: rem(5);
	@include adaptiveValue("column-gap", 34, 25);
	// .social__link
	&__link {
		font-size: rem(22);
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $purpleColor;
			}
		}
	}
}

//========================================================================================================================================================
.category-link {
	display: inline-block;
	border: rem(1) solid #f1f1f1;
	border-radius: rem(4);
	color: $greyColor;
	font-size: rem(12);
	line-height: math.div(15, 12);
	padding: rem(4) rem(8);
	transition: all 0.3 ease;
	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background-color: $purpleColor;
			border: rem(1) solid $purpleColor;
		}
	}
}
//========================================================================================================================================================
