// Заголовки, общие БЄМ блоки и проче...
.page {
	// .page__main
	&__main {
	}
	// .page__services
	&__services {
	}
}

//========================================================================================================================================================
.title {
	// .title__label
	&__label {
		//text-transform: uppercase;
		font-weight: 500;
		font-size: rem(12);
		line-height: 2;
		letter-spacing: em(7.5, 12);
		color: $greyColor;
		display: flex;
		align-items: center;
		gap: rem(16);
		&::before {
			content: "";
			width: rem(16);
			height: rem(2);
			background-color: #d9d9d9;
		}
		&:not(:last-child) {
			margin-bottom: em(9, 12);
		}
	}
	// .title__value
	&__value {
		font-family: "Plus Jakarta Sans";
		font-weight: 700;
		font-size: rem(36);
		line-height: 1.25;
		span {
			color: $purpurColor;
		}
		// .title__value_big
		&_big {
			font-size: rem(55);
			line-height: math.div(55, 44);
		}
	}
}

//========================================================================================================================================================
.text {
	line-height: math.div(32, 16);
	p {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
}

//========================================================================================================================================================
.social {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: rem(5);
	@include adaptiveValue("column-gap", 34, 25);
	// .social__link
	&__link {
		font-size: rem(22);
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $purpurColor;
			}
		}
	}
}

//========================================================================================================================================================
